<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>게시글 생성</title>
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div><b>게시글을 작성</b>합니다!</div>
  <br>
  <form action="#" th:action="@{/createBoard}" th:object="${boardDto}" method="post">
    <input type="hidden" th:value="${session.user.userId}" name="userId" id="userId">
    <div style="display:inline;"><label> 제목 : <input class="form-control" type="text" th:field="${boardDto.title}"/></label></div>
    <div style="display:inline;"><label> 닉네임 : <input class="form-control" th:value="${session.user.nickName}" name="nickName" id="nickName" readonly="readonly"></label></div>
    <div><label> 내용 : <textarea class="form-control" th:field="${boardDto.content}" style="width:600px; height:100px;"/></label></div>
    <button class="btn btn-primary" type="submit">작성완료</button>
    <button class="btn btn-danger" type="button" onclick="location.href='/goBoard'">취소</button>
  </form>
  <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>