<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>디테일</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div><b>게시글 조회</b>입니다.</div>
    <br/>
    <form action="#" th:action="@{/updateBoard}" th:object="${boardDto}" method="post">
        <input type="hidden" th:field="${boardDto.boardId}"/>
        <div style="display:inline;"><label> 제목 : <input class="form-control" id="title" type="text" th:field="${boardDto.title}"/></label></div>
        <div style="display:inline;"><label> 닉네임 : <input class="form-control" th:field="${boardDto.nickName}" readonly="readonly"/></label></div>
        <div><label> 내용 : <textarea class="form-control" input id="content" th:field="${boardDto.content}"  style="width:600px; height:100px;"/></label></div>
        <button class="btn btn-primary" type="submit" id="updateButton" style="display : none;">작성완료</button>
        <button class="btn btn-danger" type="button" onclick="location.href='/goBoardCreate'">취소</button>
    </form>
    <div th:replace="fragments/footer :: footer"/>
    </div>
</body>
<script th:inline="javascript">
    window.onload = function (){
        var user = [[${boardDto.userId}]];       //작성자 userId 가져옴!!
        var writer = [[${session.user.userId}]]; //세션(로그인한 userId)의 userId 가져옴!!

        if( user == writer ){
            console.log("작성자 입니다.");
            document.getElementById("title").readOnly = false;
            document.getElementById("content").readOnly = false;
            document.getElementById("updateButton").style.display = "inline-block";
        } else {
            console.log("작성자가 아닙니다.");
            document.getElementById("title").readOnly = true;
            document.getElementById("content").readOnly = true;
        }

    }
</script>
</html>