<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>join</title>
</head>
<body>
<div><b>회원가입</b>합니다!</div>
<br>
<form action="#" th:action="@{/join}" th:object="${userDto}" method="post">
  <div><label> id : <input type="text" th:field="*{username}"/></label></div>
  <div><label> Password : <input type="password" th:field="*{password}"/></label></div>
  <div><label> nickname : <input type="text" th:field="*{nickname}"/></label></div>
  <div><label> email : <input type="email" th:field="*{email}"/></label></div>
  <button type="submit">가입완료</button>
</form>
</body>
</html>